// 导入scss文件
@import 'var';

.head_t{
    border-bottom: 1px solid #E5E5E5;
    background: #F9F9F9;
    font-size: 12px;
    line-height: 40px;

    .container{
        height: 40px;

        .head_tr ul li{
            float: left;
            margin-right: 31px;
            .ma1 a{
                margin-right: 5px;
            }

            .ma1:hover{
                img{
                    transition:all 0.1s linear 0.01s;
                    transform:rotate(180deg);
                }
            }
            .ma2{
                width: 63px;
                position:absolute;
                background: #fff;
                padding: 5px;
                display:none;
            }
        }
    }
}

.head_b{
    background: #fff;

    .container{
        height: 103px;
    }

    h1{
        width: 365px;
        height: 88px;
        background: url(../img/header4.gif) no-repeat;
        margin-top: 15px;
        float: left;
    }

    .head_bc{
        float: left;
        padding-top: 30px;

        #sousuo{
            border: 2px solid $hilightColor;
            width: 386px;
            height: 35px;
            background: url(../img/header7.png) no-repeat 2px;
            // background-repeat:no-repeat;
            // background-position:10px -80px;
            padding-left: 35px;
        }

        #btn_s{
            color:#fff;
            background: $hilightColor;
            width: 94px;
            height: 35px;
        }
    }

    .head_br{
        float: right;
        width: 165px;
        height: 35px;
        margin-top: 30px;
        background: #F5F5F5;
        padding-left: 25px;
        font-size: 12px;
        line-height: 34px;

        img{
            margin-right: 12px;
        }

        a{
            margin-right: 18px;
        }
    }
}

.nav{
    border-bottom: 2px solid $hilightColor;
    background: #fff;

    .container{
        height: 40px;

        .sanji{
            float: left;
            width: 220px;
            height: 40px;
            font-size: 16px;
            background: $hilightColor;
            text-align: center;
            line-height: 40px;
            ul>li{
                color: #fff;
            }
            ul>li>ul{
                // display:none;
                position:absolute;
                width: 220px;
                height: 400px;
                text-align: left;
                background: #fff;
                top: 186px;
                li{
                    padding-left: 20px;
                    a{
                        color: #000;
                        margin-right: 100px;
                    }
                    .dh3{
                        width: 740px;
                        height: 400px;
                        position:absolute;
                        border: 2px solid $hilightColor;
                        border-top: 0;
                        top: 0;
                        left: 220px;
                        background: #fff;
                        padding-top: 20px;
                        padding-left: 20px;
                        display: none;
                        li{
                            width: 500px;
                            height: 40px;
                            line-height: 40px;
                            border-bottom: 1px solid #ddd;
                            i{
                                font-size: 14px;
                                color: #000;
                                margin-right: 20px;
                            }
                            span{
                                font-size: 14px;
                                color: #ccc;
                                margin-right: 20px;
                            }
                        }
                    }
                    span{
                        color:#ccc;
                    }
                }
                .active{
                    background: $hilightColor;
                    a{
                        color: #fff;
                    }
                }
            }
        }

        .yiji{
            float: left;
            // height: 40px;
            font-size: 16px;
            line-height: 40px;
            text-align: center;

            .yiji>li{
                float: left;
                height: 40px;
                padding: 0 25px;
            }
        }
    }
}
.fixed{
    position:fixed;
    top: 0;
    left:0;
    right: 0;
    
}
.top{
    width: 36px;
    height: 100%;
    position:fixed;
    right: 0;
    border-right: 6px solid #000;
    top: 0;
    div div{
        display:none;
        width: 90px;
        height: 35px;
        position:absolute;
        left: -90px;
        top: 0;
        background: #3B3B3B;
        text-align: center;
        line-height: 35px;
        color: #fff;
        a{
            color: #fff;
        }
    }
    .yonghu{
        width: 30px;
        height: 35px;
        background: url(../img/fixed1.png);
        position:fixed;
        top: 252px;
    }

    .car{
        width: 30px;
        height: 35px;
        background: url(../img/fixed2.png);
        position:fixed;
        top: 288px;
    }

    .quan{
        width: 30px;
        height: 35px;
        background: url(../img/fixed3.png);
        position:fixed;
        top: 324px;
    }

    .ding{
        width: 30px;
        height: 35px;
        background: url(../img/fixed4.png);
        position:fixed;
        bottom: 0px;
    }
}

#footer{
    background: #616161;
    height: 205px;
    padding-top: 40px;
    
    .foot_t{
        height: 81px;
        margin-bottom: 25px;

        ul .lif{
            float: left;
            width: 85px;
            margin-right: 110px;
            color:#E0E0E0;
            font-size: 12px;
            line-height: 28px;

            ul li a{
                color:#E0E0E0;
            }
        }
    }
    

    .foot_c .foot_cu{
        text-align: center;
        height: 12px;
        margin-left: 445px;
        margin-bottom: 8px;
        line-height: 12px;
        font-size: 12px;

        li{
            padding: 0 4px;
            float: left;
            border-right: 2px solid #828D82;

            a{
                color: #8D8D8D;
            }
        }
    }

    .foot_b p{
        margin-left: 312px;
        font-size: 14px;
        height: 14px;
        line-height: 14px;
        color: #8D8D8D;
    }
}